venv/
.git/
.gitignore
.tox/
.github/
.idea/
cache/
bin/*
.env*
**/*.pyc
**/*.pyo
**/*.mo
**/__pycache__/
dockerfile
**/*.md
temp.py
temp2.py
coverage_html_report/
.coverage
.dockerignore
.pre-commit-config.yml
MANIFEST.in
pyproject.toml
README.rst
tox.ini
