{% extends 'vidar/base.html' %}
{% load bootstrap4 %}

{% block site_title %}Vidar / {{ channel }} / Delete Videos{% endblock %}

{% block content %}

    <ul class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'vidar:index' %}">Vidar</a></li>
        <li class="breadcrumb-item"><a href="{% url 'vidar:channel-index' %}">Channels</a></li>
        <li class="breadcrumb-item"><a href="{{ object.get_absolute_url }}">{{ object }}</a></li>
        <li class="breadcrumb-item"><a href="{% url 'vidar:channel-manage' object.id %}">Manage</a></li>
        <li class="breadcrumb-item active">Confirm Delete Videos</li>
    </ul>

    <p>{{ videos_with_playlists.count }} Videos attached to playlists will NOT be deleted regardless of settings below.</p>

    <p>{{ starred_videos.count }} videos are starred.</p>

    <form method="post" class="form">{% csrf_token %}
        <div class="form-check mb-2">
            <input class="form-check-input" type="checkbox" id="keep_archived_videos" name="keep_archived_videos" checked="checked">
            <label class="form-check-label" for="keep_archived_videos">Keep Archived Videos</label>
        </div>
        {% buttons %}
            <input type="submit" name="submit" value="Delete Videos on Channel: {{ object }}" class="btn btn-danger">
        {% endbuttons %}
    </form>

{% endblock %}
