{% extends 'vidar/base.html' %}
{% load mathfilters crontab_links video_tools playlist_tools %}

{% block site_title %}Vidar / Playlist / {{ object.title }} / Manage{% endblock %}

{% block content %}

    <ul class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'vidar:index' %}">Vidar</a></li>
        <li class="breadcrumb-item"><a href="{% url 'vidar:playlist-index' %}">Playlists</a></li>
        {% if object.channel %}
            <li class="breadcrumb-item"><a href="{{ object.channel.get_absolute_url }}">{{ object.channel }}</a></li>
            <li class="breadcrumb-item"><a href="{% url 'vidar:playlist-index' %}?channel={{ object.channel_id }}">Playlists</a></li>
        {% endif %}
        <li class="breadcrumb-item"><a href="{{ object.get_absolute_url }}">{{ object }}</a></li>
        <li class="breadcrumb-item active">Manage</li>
    </ul>


    <div class="row">
        <div class="col"><h1 class="small-uppercase"><a href="{{ playlist.get_absolute_url }}">{{ playlist.title }}</a></h1></div>
        <div class="col-sm-4 text-right">
            <a href="{% url 'vidar:playlist-edit' pk=playlist.pk %}" class="btn btn-info">edit</a>
            {% if playlist.crontab %}<a href="{% url 'vidar:schedule' %}?playlist={{ playlist.pk }}" class="btn btn-primary">Schedule</a>{% endif %}
            <a href="{% url "vidar:watch-history" %}?playlist={{ playlist.pk }}" class="btn btn-primary">History</a>
        </div>
    </div>

    <hr />

    <div class="row">
        <div class="col m-4">
            <form method="post" class="form">{% csrf_token %}
                <div class="form-group">
                    <label for="download_all_comments">Download All Comments On Each Video (override default limit of 100)</label>
                    <input type="checkbox" name="download_all_comments" id="download_all_comments"><br />
                </div>
                <input type="submit" name="download-video-comments"
                       value="Download video comments."
                       class="btn btn-primary">
            </form>
        </div>

        {% if playlist.playback_speed %}
            <div class="col m-4">
                <form method="post">{% csrf_token %}
                    <p>Apply Playlist Playback Speed to all videos.</p>
                    <input type="submit" name="apply-playback-speed" class="btn btn-primary" value="Apply Speed: {{ playlist.get_playback_speed_display }}">
                </form>

                <form method="post" class="mt-2">{% csrf_token %}
                    <p>Reset Playback Speed on videos to system default.</p>
                    <input type="submit" name="remove-playback-speed" class="btn btn-info" value="Reset Speed">
                </form>
            </div>
        {% endif %}

        {% if playlist.playback_volume %}
            <div class="col m-4">
                <form method="post">{% csrf_token %}
                    <p>Apply Playlist Playback Volume to all videos.</p>
                    <input type="submit" name="apply-playback-volume" class="btn btn-primary" value="Apply Volume: {{ playlist.get_playback_volume_display }}">
                </form>

                <form method="post" class="mt-2">{% csrf_token %}
                    <p>Reset Playback Volume on videos to system default.</p>
                    <input type="submit" name="remove-playback-volume" class="btn btn-info" value="Reset Volume">
                </form>
            </div>
        {% endif %}

        <div class="col m-4">
            <form method="post" class="form">{% csrf_token %}
                <p>If you changed the playlists filename or directory schema, you can use this button to
                    trigger a rename of all attached files.</p>
                <input type="submit" name="rename-video-files"
                       value="Rename Video Files."
                       class="btn btn-primary">
            </form>
        </div>

        {% if playlist.provider_object_id %}
            <div class="col m-4">
                <form method="post" class="form">{% csrf_token %}
                    <div class="form-group">
                        <p>Custom playlist videos can be re-ordered, removed, added.
                            However, it cannot be tied to a live playlist.</p>
                        <p>There is no undo. The playlist will no longer be indexable.</p>
                        <input type="submit" name="convert-to-custom"
                               value="Convert to a custom playlist."
                               class="btn btn-danger">
                    </div>
                </form>
            </div>
        {% endif %}

    </div>

{% endblock %}
