{% extends 'vidar/base.html' %}
{% load bootstrap4 %}

{% block site_title %}Vidar / Bulk Playlist Edit{% endblock %}

{% block content %}

    <ul class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'vidar:index' %}">Vidar</a></li>
        <li class="breadcrumb-item"><a href="{% url 'vidar:playlist-index' %}">Playlists</a></li>
        {% if channel %}
            <li class="breadcrumb-item"><a href="{{ channel.get_absolute_url }}">{{ channel }}</a></li>
            <li class="breadcrumb-item"><a href="{% url 'vidar:playlist-index' %}?channel={{ channel.id }}">Playlists</a></li>
        {% endif %}
        <li class="breadcrumb-item active">Bulk Playlist Edit</li>
    </ul>

    <form method="post" class="form">{% csrf_token %}
        {{ formset.management_form }}
        <div class="row">
            {% for form in formset %}
                <div class="col-12">
                    <h4>{{ form.instance }}</h4>
                    {% bootstrap_form form %}
                </div>
            {% endfor %}
        </div>

        {% buttons %}
            <input type="submit" name="submit" value="Save" class="btn btn-primary">
        {% endbuttons %}
    </form>

{% endblock %}

{% block footer %}

    <script type="text/javascript">

        function assign_crontab(crontab_type, playlist_id) {
            let elem = document.querySelector('.playlist-' + playlist_id);
            let clicks = elem.getAttribute(crontab_type);
            if (clicks != null) { clicks = parseInt(clicks) + 1; } else { clicks = 0; }
            elem.setAttribute(crontab_type, clicks.toString());

            $.get("{% url 'vidar:htmx-crontab-generate' %}?type=" + crontab_type + "&field=upload_date&source=playlist&playlist=" + playlist_id + '&attempt=' + clicks.toString(), function(data, status){
                console.log(crontab_type, data);
                elem.value = data;
            });
        }

    </script>

{% endblock %}
